div {
    
    margin:0;
}

p {
    font-family: 'AvenirNext',sans-serif,arial;/*'Arimo', sans-serif;*/
}
.main {
    height: 100%;
    width:100%;
    background-color: #c0dfd9;/*b7e293 c0dfd9*/

}

.heading {
    height: 150px;
    padding:10px 100px 10px 100px;
    font-size: 4em;
    text-align: center;
    font-weight: 200;
    color: #FFFFFF;

}
#dashboard {
    display: flex;
    height: 50px;
}

/*  for the dashboard*/
.dashElem {
    display: inline-flex;
    width: 21%;
    height: auto;
    justify-content: space-around;
    padding:0.5% 2% 0.5% 2%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'AvenirNext',sans-serif,arial;/*'Arimo',sans-serif;*/
    background-color:#c0dfd9;
    color:white;
}
.dashElem:hover{
    font-size: 1.7em;
    font-weight: 600;
}

/* Styling for the selection box */
#data-selector-div {
    /*background-color: white;
    border: 1px solid lightgrey;*/
    display: flex;
    padding: 10px 20px 10px 20px;
}
/*#data-selector-div p {
    font-family: 'sans-serif';
    font-size: 1.5em;
    color: grey;
    margin-right: 10px; 
}*/

#data-selector-div select {
    float: right;
    padding: 10px 70px 10px 13px;
    width: 90%;
    background-size: 5%;
    color: darkgrey;
    /*line-height: 20px !important;*/
    font-size: 1.2em; 
    position: relative;
    bottom: -22%;
    box-shadow: 1px 1px lightgrey;
}

select {
    height: auto;
    color:darkgrey;   
    background: url("../pictures/selectbox_arrow.png") right center no-repeat;
    background-color: #fff;
    -webkit-appearance: none;
    border-radius: 6px;
    border: 1px solid #e3e3e3;

}

#chart-type {
    padding: 5px 30px 5px 10px;
    font-size: 1em;
}

/*  For the chart area*/
.chartArea {
    /* Thsi is for div tag which covers the main chart*/
    height: 800px;
    padding: 20px;
}

/*#chart-info {
    
    width: 90%;
    
 
}
*/
.hide {
    display: none;
}


.chart-container {
    height: 88%;
    width: 98%;
    border: 1px solid black;    
    display: inline-block;
    background-color: white;
    padding: 10px;
}

